:root {
  --primary-color: rgb(158, 158, 158);
  --secondary-color: rgb(128, 128, 128);
  --white: #ffffff;
  --black: #000000;
  --pink: rgb(249, 44, 198);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 65.5%;
  font-family: "Lilita One", sans-serif;
}
body {
  background-color: var(--primary-color);
}
.container {
  max-width: 120rem;
  margin: 0 auto;
}
.container header {
  display: flex;
  background-color: var(--primary-color);
  flex-direction: column;
  padding-bottom: 30px;
}
.container header nav {
  position: absolute;
  z-index: 10;
  left: 0;
  right: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  height: 100px;
  background-color: var(--secondary-color);
}
.container header nav .container-fluid {
  margin: 1rem;
}
.container header nav .container-fluid .titulo {
  font-weight: bold;
  font-size: 4rem;
}
.container header nav .container-fluid .navbar-nav {
  margin: 22rem;
  font-size: 1.1rem;
}
.container header .banner {
  background-image: url(../assets/img/379285-blackangel_1920x1080.jpg);
  max-height: 100%;
  min-width: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  text-align: center;
}
.container header .banner .banner-content {
  max-width: 90rem;
  text-align: center;
  margin: 0 auto;
  padding: 25rem 0;
}
.container header .banner .banner-content h2 {
  font-size: 2.7rem;
  color: var(--black);
  margin-bottom: 1rem;
  font-weight: bold;
}
.container header .banner .banner-content p {
  color: var(--black);
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.2;
}
.products {
  justify-content: center;
  max-width: 120rem;
  margin: 0 auto;
}
.products .top-products {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 120rem;
  margin: 0 auto;
  margin-bottom: 3rem;
}
.products .top-products .heading-2 {
  text-align: center;
  font-weight: 500;
  font-size: 3rem;
  color: var(--white);
  text-decoration: underline var(--pink);
}
.products .top-products .container-options {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 1rem;
}
.products .top-products .container-options .active {
  color: var(--white);
  background-color: var(--black);
}
.products .top-products .container-options span {
  color: var(--black);
  background-color: var(--white);
  padding: 0.7rem 3rem;
  font-size: 1.4rem;
  text-transform: capitalize;
  border-radius: 2rem;
  cursor: pointer;
}
.products .top-products .container-options span:hover {
  color: var(--white);
  background-color: var(--black);
}
.products .top-products .container-products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1rem;
  flex-direction: column;
  justify-content: center;
}
.products .top-products .container-products .card-products {
  background-color: var(--white);
  padding: 2rem 3rem;
  margin: 0.5rem;
  border-radius: 3rem;
  cursor: pointer;
  text-align: center;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}
.products .top-products .container-products .card-products .container-img {
  position: relative;
}
.products .top-products .container-products .card-products .container-img img {
  max-width: 200px;
  height: 200px;
}
.products .top-products .container-products .card-products .container-img .discount {
  position: absolute;
  left: 0;
  top: 0;
  background-color: var(--secondary-color);
  color: var(--white);
  padding: 0.2rem 1.2rem;
  border-radius: 1rem;
  font-size: 1.2rem;
}
.products .top-products .container-products .card-products .content-card-product {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, min-content);
  row-gap: 1rem;
  text-align: center;
}
.products .top-products .container-products .card-products .content-card-product .stars {
  grid-row: 1/2;
  grid-column: 1/-1;
}
.products .top-products .container-products .card-products .content-card-product .stars ion-icon {
  font-size: 1.3rem;
  color: var(--black);
}
.products .top-products .container-products .card-products .content-card-product h3 {
  grid-row: 2/3;
  grid-column: 1/-1;
  font-weight: 400;
  font-size: 1.6rem;
  margin-bottom: 1rem;
  cursor: pointer;
}
.products .top-products .container-products .card-products .content-card-product h3:hover {
  border-bottom: 4px solid var(--pink);
}
.products .top-products .container-products .card-products .content-card-product .price {
  font-size: 1.7rem;
  font-weight: 600;
  padding-left: 6rem;
}
.products .top-products .container-products .card-products .content-card-product .price span {
  font-size: 1.5rem;
  font-weight: 400;
  text-decoration: line-through;
  color: var(--secondary-color);
}
.products .gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 30rem);
  gap: 1.5rem;
  margin-bottom: 3rem;
}
.products .gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  text-align: center;
}
.products .gallery .gallery-img-4 {
  grid-column: 2/4;
  grid-row: 1/3;
}

.heading {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 20px auto;
  padding-top: 100px;
}
.heading h2 {
  font-size: 50px;
  margin-bottom: 25px;
  color: var(--white);
  position: relative;
  text-decoration: underline var(--pink);
}
.heading p {
  font-size: 20px;
  margin-bottom: 10px;
  color: var(--white);
}

.container-dos {
  width: 90%;
  margin: 0 auto;
  padding: 10px 20px;
  text-align: center;
}
.container-dos .about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}
.container-dos .about .about-image {
  flex: 1;
  margin-right: 40px;
  overflow: hidden;
  margin-bottom: 20px;
}
.container-dos .about .about-content {
  flex: 1;
  color: var(--white);
}
.container-dos .about .about-content h3 {
  font-size: 2.7rem;
  margin-bottom: 15px;
  font-weight: bold;
}
.container-dos .about .about-content p {
  font-size: 18px;
  line-height: 1.5;
}

.cuenta {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 8.5rem;
}
.cuenta form {
  padding: 50px 55px;
  text-align: center;
  align-items: center;
  width: 340px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  margin-bottom: 20px;
}
.cuenta form h2 {
  font-size: 30px;
  color: var(--black);
  margin-bottom: 25px;
  text-align: center;
  font-weight: bold;
}
.cuenta form label {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}
.cuenta form input, .cuenta form textarea {
  padding: 17px 25px;
  border-radius: 25px;
  margin-bottom: 20px;
  border: 2px solid var(--white);
  color: var(--black);
  outline: none;
}
.cuenta form .btn-dos {
  font-size: 16px;
  border: 0;
  border-radius: 25px;
  cursor: pointer;
  width: 95%;
}
.cuenta form li {
  list-style: none;
}

h2 {
  font-size: 30px;
  color: var(--black);
  margin-bottom: 25px;
  text-align: center;
  font-weight: bold;
}

.guia-de-talles {
  padding-top: 7rem;
}
.guia-de-talles .table {
  text-align: center;
  justify-content: center;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.formulario {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 8.5rem;
}
.formulario form {
  padding: 50px 50px;
  text-align: center;
  width: 340px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  margin-bottom: 20px;
}
.formulario form h2 {
  font-size: 30px;
  color: var(--black);
  margin-bottom: 25px;
  text-align: center;
  font-weight: bold;
}
.formulario form .input-group {
  align-items: center;
  justify-content: center;
}
.formulario form .input-group input {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.formulario form label {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}
.formulario form input, .formulario form textarea {
  padding: 17px 25px;
  border-radius: 25px;
  margin-bottom: 20px;
  border: 2px solid var(--white);
  color: var(--black);
  outline: none;
}
.formulario form .btn-dos {
  font-size: 16px;
  border: 0;
  border-radius: 25px;
  cursor: pointer;
  width: 95%;
}
footer {
  width: 100%;
  background-color: var(--secondary-color);
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
footer .social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 10px 5px;
  flex-wrap: wrap;
}
footer .social-icon .icon-elem {
  list-style: none;
}
footer .social-icon .icon-elem .icon {
  color: var(--white);
  font-size: 25px;
  display: inline-block;
  margin: 0 10px;
}
footer .social-icon .icon-elem .icon:hover {
  border-bottom: 4px solid var(--pink);
  cursor: pointer;
}
footer .menu {
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}
footer .menu .menu-elem {
  list-style: none;
}
footer .menu .menu-elem .menu-icon {
  color: var(--white);
  font-size: 18px;
  display: inline-block;
  text-decoration: none;
  margin: 5px 10px;
  opacity: 0.5;
}
footer .menu .menu-elem .menu-icon:hover {
  opacity: 1;
}
footer .text {
  color: var(--white);
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 12px;
}
@media screen and (max-width: 768px) {
  .formulario {
    padding: 30px;
  }
  form {
    padding: 50px 30px;
    width: 100%;
  }
  input {
    padding: 15px;
  }
  html {
    font-size: 55%;
  }
  .banner-content {
    max-width: 50rem;
    margin: 0 auto;
    padding: 25rem 0;
  }
  .heading-2 {
    font-size: 3rem;
  }
  .container-options {
    align-items: center;
  }
  .container-options span {
    text-align: center;
    padding: 1rem 2rem;
  }
  img {
    min-width: 100%;
    height: 100%;
  }
  .formulario {
    padding-top: 11rem;
  }
  .mi-cuenta {
    padding-top: 8rem;
  }
  img {
    width: 100px;
    height: 100px;
  }
  .gallery {
    grid-template-rows: repeat(2, 20rem);
  }
}
@media screen and (max-width: 468px) {
  html {
    font-size: 42.5%;
  }
  .banner-content {
    max-width: 48rem;
    margin: 0 auto;
    padding: 25rem 0;
  }
  .heading-2 {
    font-size: 2.8rem;
  }
  .container-options span {
    font-size: 1.8rem;
    padding: 1rem 1.5rem;
    font-weight: 500;
  }
  .container-products {
    display: block;
  }
  .container-img .discount {
    font-size: 2rem;
  }
  .content-card-product {
    font-size: 2.2rem;
  }
  .container-img {
    text-align: center;
  }
}
/*# sourceMappingURL=estilo.css.map */
