:root {
    --primary-color: rgb(160, 160, 160);
    --secondary-color: rgb(128, 128, 128);
    --white: #ffffff;
    --black: #000000;
    --pink: rgb(249, 44, 198);
  }
header{
    .navbar{
        background-color: var(--secondary-color);
        .container-fluid{
            .titulo{
            color: var(--white);
            }
            .collapse {
                ul{
                    li{
                        .nav-link{
                            color: var(--white);
                            :hover{
                            border-bottom: 4px solid var(--pink);
                            }
                        }
                    }
                }
            }    
        }    
    }
    .header-content{
        background-image: url(../assets/img/379285-blackangel_1920x1080.jpg);
        background-position: center ;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 70vh;
        display: flex;
        align-items: center;
        .container{
            max-width: 1200px;
            margin: 0 auto;
            text-align: center;
            .h2{
                font-size: 4rem;
                color: var(--black);
            }   
            .txt-p{
                margin-top: 20px;
                font-size: 1.5rem;
                color: var(--black);
            }
        }
    }
}