@media screen and (max-width: 768px) {
  .navbar{
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
  }
  .products{
    padding-top: 6rem;
  }
  .guia-de-talles{
    padding-top: 6rem;
  }
  .heading{
    padding-top: 6rem;
  }
  .cuenta{
    padding-top: 6rem;
  }
  .formulario{
    padding: 30px;
  }
  form{
    padding: 50px 30px;
    width: 100%;
  }
  input{
    padding: 15px;
  }
  html {
    font-size: 55%;
  }
  .header-content {
    max-width: 100%;
    margin: 0 auto;
    padding: 25rem 0;
  }
  .heading-2 {
    font-size: 3rem;
  }
  .container-options {
    align-items: center;
  }
  .container-options span {
    text-align: center;
    padding: 1rem 2rem;
  }
  img{
    min-width: 100%;
    height: 100%;   
  }
  .formulario {
    padding-top: 11rem;
  }
  .mi-cuenta {
    padding-top: 6rem;
  }
  img{
    width: 100px;
    height: 100px;
  }
  .gallery {
    display: grid; 
    grid-auto-flow: column; 
    grid-auto-columns: 1fr; 
    grid-auto-rows: 1fr; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 15px 10px; 
    grid-template-areas: 
      "img1 img4"
      "img2 img5"
      "img3 img6"; 
    width: 100%; 
    height: 100%; 
  }
  .img1 { grid-area: img1; }
  .img2 { grid-area: img2; }
  .img3 { grid-area: img3; }
  .img4 { grid-area: img4; }
  .img5 { grid-area: img5; }
  .img6 { grid-area: img6; }
}
@media screen and (max-width: 468px) {
  html{
    font-size: 42.5%;
  }
  .banner-content {
    max-width: 48rem;
    margin: 0 auto;
    padding: 25rem 0;
  }
  .navbar{
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
  }
  .products{
    padding-top: 6rem;
  }
  .guia-de-talles{
    padding-top: 6rem;
  }
  .heading{
    padding-top: 6rem;
  }
  .cuenta{
    padding-top: 6rem;
  }
  .heading-2 {
    font-size: 2.8rem;
  }
  .container-options span {
    font-size: 1.8rem;
    padding: 1rem 1.5rem;
    font-weight: 500;
  }
  .container-products {
    display: block;
  }
  .container-img .discount {
    font-size: 2rem;
  }
  .content-card-product {
    font-size: 2.2rem;
  }
  .container-img {
    text-align: center;
  }
  .gallery {
    display: grid; 
    grid-auto-flow: column; 
    grid-auto-columns: 1fr; 
    grid-auto-rows: 1fr; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 15px 10px; 
    grid-template-areas: 
      "img1 img4"
      "img2 img5"
      "img3 img6"; 
    width: 100%; 
    height: 100%; 
  }
  .img1 { grid-area: img1; }
  .img2 { grid-area: img2; }
  .img3 { grid-area: img3; }
  .img4 { grid-area: img4; }
  .img5 { grid-area: img5; }
  .img6 { grid-area: img6; }
}