:root {
    --primary-color: rgb(158, 158, 158);
    --secondary-color: rgb(128, 128, 128);
    --white: #ffffff;
    --black: #000000;
    --pink: rgb(249, 44, 198);
}
html{
    font-size: 65.5%;
    font-family: "Lilita One", sans-serif;
}
