:root {
  --primary-color: rgb(158, 158, 158);
  --secondary-color: rgb(128, 128, 128);
  --white: #ffffff;
  --black: #000000;
  --pink: rgb(249, 44, 198);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 65.5%;
    font-family: "Lilita One", sans-serif;
}
@media screen and (max-width: 768px) {
  .formulario{
    padding: 30px;
  }
  form{
    padding: 50px 30px;
    width: 100%;
  }
  input{
    padding: 15px;
  }
  html {
    font-size: 55%;
  }
  .banner-content {
    max-width: 50rem;
    margin: 0 auto;
    padding: 25rem 0;
  }
  .heading-2 {
    font-size: 3rem;
  }
  .container-options {
    align-items: center;
  }
  .container-options span {
    text-align: center;
    padding: 1rem 2rem;
  }
  img{
    min-width: 100%;
    height: 100%;   
  }
  .formulario {
    padding-top: 11rem;
  }
  .mi-cuenta {
    padding-top: 8rem;
  }
  img{
    width: 100px;
    height: 100px;
  }
  .gallery{
    grid-template-rows: repeat(2, 20rem);
  }
}
@media screen and (max-width: 468px) {
  html{
    font-size: 42.5%;
  }
  .banner-content {
    max-width: 48rem;
    margin: 0 auto;
    padding: 25rem 0;
  }
  .heading-2 {
    font-size: 2.8rem;
  }
  .container-options span {
    font-size: 1.8rem;
    padding: 1rem 1.5rem;
    font-weight: 500;
  }
  .container-products {
    display: block;
  }
  .container-img .discount {
    font-size: 2rem;
  }
  .content-card-product {
    font-size: 2.2rem;
  }
  .container-img {
    text-align: center;
  }
}
@import "_body.scss";
@import "_header.scss";
@import "_main.scss";
@import "_footer.scss";
